{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="card"> 
  
{% include 'contracts/filter_form_drop.html' %}


  <table class="table table-striped table-hover mt-1 mr-1 p-1">
    <tr>
      <td colspan="2">Кол-во контрактов соответствующих фильтру</td>
      <td>{{ query_length }}</td>
    </tr>
  </table>


<p>
  <a class="btn btn-outline-secondary d-grid gap-2" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Рассчеты
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card">

  <table class="table table-striped table-hover">
    <thead>
          <tr>
              <th scope="col" class="w-20"></th>
              <th scope="col" class="w-30"></th>
              <th scope="col" class="w-50"></th>
          </tr>
  </thead>
    <tbody>
          <tr>
            <td><b>Завоз</b></td>
            <td>Суммарный вес</td>
            <td>{{ income_stats.weight|floatformat:2|intcomma }}</td>
          </tr>
          <tr>
            <td></td>
            <td>Суммарная стоимость</td>
            <td>{{ income_stats.cost|floatformat:2|intcomma }}</td>
          </tr>
          <tr>
            <td></td>
            <td>Из них оплачено</td>
            <td>{{ income_stats.payments|floatformat:2|intcomma }}</td>
          </tr>
          {% for manager, amount in income_stats.bonuses.items %}
          <tr>
            <td><b>Премиальные</b></td>
            <td>{{ manager }}</td>
            <td>{{ amount|floatformat:2|intcomma }}</td>
          </tr>
          {% endfor %}
    </tbody>
  </table>
</div>

<div class="card"> 
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col" class="w-20"></th>
        <th scope="col" class="w-30"></th>
        <th scope="col" class="w-50"></th>
    </tr>
</thead>
    <tbody>
        <tr>
          <td><b>Отгрузки</b></td>
          <td>Суммарный вес</td>
          <td>{{ outcome_stats.weight|floatformat:2|intcomma }}</td>
        </tr>
        <tr>
          <td></td>
          <td>Себестоимость</td>
          <td>{{ outcome_stats.expenses|floatformat:2|intcomma }}</td>
        </tr>
        <tr>
          <td></td>
          <td>Суммарная стоимость</td>
          <td>{{ outcome_stats.cost|floatformat:2|intcomma }}</td>
        </tr>
        <tr>
          <td></td>
          <td>Из них оплачено</td>
          <td>{{ outcome_stats.payments|floatformat:2|intcomma }}</td>
        </tr>
        <tr>
          <td></td>
          <td>Планируемый доход</td>
          <td>{{ outcome_stats.expected|floatformat:2|intcomma }}</td>
        </tr>
        {% for manager, amount in outcome_stats.bonuses.items %}
        <tr>
          <td><b>Премиальные</b></td>
          <td>{{ manager }}</td>
          <td>{{ amount|floatformat:2|intcomma }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
</div>

</div>
    <div class="container-content">

      <div class="pagination-upper">
        <p>{% include 'pagination.html' %}</p>
      </div>

        {% for contract in contracts %}
        
          <div class="
          {% if contract.reserved and contract.executed and contract.paid %}
          card bg-success-subtle mb-1
          {% elif contract.reserved and contract.executed and not contract.paid %}
          card bg-danger-subtle mb-1
          {% elif contract.reserved and not contract.executed and contract.paid %}
          card bg-primary-subtle mb-1
          {% elif contract.reserved and not contract.executed and not contract.paid %}
          card bg-warning-subtle mb-1
          {% else %}
          card bg-secondary-subtle mb-1
          {% endif %}">
            <div class="card-text"><a class="btn stretched-link p-0" href="{% url 'contracts:contract' contract.pk %}">
            #{{ contract.pk }} --
              {{ contract.date_plan|date:"d M Y" }} --
              {% if contract.contract_type == 'income' %}
              <b class="text-danger">Завоз</b>
              {% else %}
              {% endif %}
               {{ contract.contractor.name }} --
              {{ contract.total_weight|default:0|floatformat:2|intcomma }}кг. 
              Оплата {{ contract.total_payments|default:0|floatformat:2|intcomma }} из
              {{ contract.total_sum|default:0|floatformat:2|intcomma }}
              
            </a>
            </div>
          </div>

        {% endfor %}

      <div class="pagination-lower">
        <p>{% include 'pagination.html' %}</p>
      </div>

    </div>
{% endblock %}

