
<div class="dropdown d-grid gap-2">

    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
        Фильтр
    </button>
  
    <form class="dropdown-menu p-4" method="GET"
          {% if mod == 'plus' %}
          action="{% url 'contracts:contracts_plus' %}"
          {% elif mod == 'deleted' %}
          action="{% url 'contracts:contracts_deleted' %}"
          {% endif %}
    >
        {% for f in form %}
            <div class="form-group">
                <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                {{ f }} {{f.errors}}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success w-auto">Фильтр</button>
    </form>

  </div>