{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="{% static 'products/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ title }}</title>
</head>

<body>
<table class="table-page"  border=0 cellpadding="0" cellspacing="0">
    <tr><td valign="top">
        <div class="header">
            <ul class="mainmenu">
        {% for i in menu %}
                <li><a href="{% url i.url_name %}">{{i.title}}</a></li>
        {% endfor %}
{% if user.is_authenticated %}

<li class="last"><a href="{% url 'users:profile' %}">{{ user.username }}</a> |
<form id="logout-form" style="display: inline;" method="post" action="{% url 'users:logout' %}">
{% csrf_token %}
<a href="{% url 'users:logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Выйти</a>
</form></li>
{% else %}
<li class="last"><a href="{% url 'users:login' %}">Войти</a> |
<a href="{% url 'users:register' %}">Регистрация</a></li>

{% endif %}
            </ul>
            <div class="clear"></div>
        </div>
    </td></tr>
</table>

<table class="table-content" border="1">

    <tr>
        <td class="tools-menu">
            <ul>
            {% for i in tools %}
                <li><a href="http://127.0.0.1:8000/{{ i.path }}">{{i.title}}</a></li>
            {% endfor %}
            </ul>
        </td>
        <td colspan="100%">
        <h1 class="title">{{ title }}</h1>

        {% block content %}

        {% endblock content %}

        </td>
    </tr>
    <tr>

    </tr>
</table>

<div class="header">
    
</div>

<div class="main-container">
    <div class="left-bar">

    </div>

    <div class="container">

    </div>


</div>

</body>
</html>