{% extends 'base.html' %}


{% block content %}
<p>{% include 'pagination.html' %}</p>

{% for product in products %}
    <div class="card">
    <div class="card-text"><a class="btn stretched-link" href="{% url 'products:product' product.pk %}">{{ product }}</a>
    
    
    {% if product.specifications.count == 0 %}
    <span class="badge text-bg-secondary rounded-pill">
    {% else %}
    <span class="badge text-bg-success rounded-pill">
    {% endif %}
    {{ product.specifications.count }}</span></div></div>


{% endfor %}

<p>{% include 'pagination.html' %}</p>
{% endblock %}


