{% extends 'base.html' %}


{% block content %}
<p>{% include 'pagination.html' %}</p>
{% for product in products %}
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'products:product' product.pk %}">{{ product }}</a>
            <span class="badge text-bg-primary rounded-pill">{{ product.specifications.count }}</span>
        </li>
    </ul>
{% endfor %}
<p>{% include 'pagination.html' %}</p>
{% endblock %}


