<div class="dropdown">
    <button type="button" class="btn btn-outline-secondary dropdown-toggle w-auto d-block" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
      Фильтр
    </button>
  
    <form class="dropdown-menu p-4" method="GET" action="{% url 'contracts:contracts' %}">
      
      {% for f in form %}
      <div class="form-group">
          <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
          {{ f }} {{f.errors}}
      </div>
        {% endfor %}
      
      <button type="submit" class="btn btn-primary w-auto">Фильтр</button>
    </form>
  </div>