{% extends 'base.html' %}


{% block content %}
<p>{% include 'pagination.html' %}</p>
{% for contractor in contractors %}
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'contractors:contractor' contractor.pk %}">{{ contractor }}</a>
            <span class="badge text-bg-primary rounded-pill">{{ contractor.contracts.count }}</span>
        </li>
    </ul>
{% endfor %}
<p>{% include 'pagination.html' %}</p>
{% endblock %}