{% extends 'base.html' %}


{% block content %}
<p>{% include 'pagination.html' %}</p>

{% for contractor in contractors %}


<div class="card">
    <div class="card-text"><a class="btn stretched-link" href="{% url 'contractors:contractor' contractor.pk %}">{{ contractor }}</a>

    {% if contractor.contracts.count == 0 %}
    <span class="badge text-bg-secondary rounded-pill">
    {% else %}
    <span class="badge text-bg-success rounded-pill">
    {% endif %}
    {{ contractor.contracts.count }}</span></div></div>
{% endfor %}




<p>{% include 'pagination.html' %}</p>
{% endblock %}